.home {
    text-align: center;
    font-size: 24px;
    color: #f0b90b;
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
  }

p {
    text-align: center;
}

.home p {
  text-align: center;
}
  
  .chart-container {
    width: 100%;
    height: 500px; /* Increased height */
    padding: 20px;
  }
  
  .timeframe-selector {
    margin-top: 20px;
  }
  
  .timeframe-selector label {
    font-size: 18px;
    margin-right: 10px;
    color: #fff;
  }
  
  .timeframe-selector select {
    padding: 5px 10px;
    font-size: 16px;
    background: #1f1f1f;
    color: #fff;
    border: 1px solid #f0b90b;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .timeframe-selector select:focus {
    outline: none;
    border-color: #ffc107;
  }