# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
appnope
asgiref
asttokens
blas
bottleneck
brotli-python
bzip2
ca-certificates
certifi
charset-normalizer
click
comm
cyrus-sasl
debugpy
decorator
django
exceptiongroup
executing
expat
idna
importlib-metadata
ipykernel
ipython
jedi
jupyter_client
jupyter_core
krb5
libcxx
libedit
libffi
libgfortran
libgfortran5
libmpdec
libopenblas
libpq
libsodium
libuuid
llvm-openmp
matplotlib-inline
ncurses
nest-asyncio
numexpr
numpy
numpy-base
openldap
openssl
packaging
pandas
parso
pexpect
pickleshare
pip
platformdirs
prompt-toolkit
psutil
psycopg2
ptyprocess
pure_eval
pygments
pyjwt
pysocks
python
python-dateutil
python-dotenv
python-tzdata
python_abi
pytz
pyzmq
readline
requests
setuptools
six
sqlite
sqlparse
stack_data
tk
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth
wheel
xz
zeromq
zipp
zlib
